name: Build and Release oneclickvirt

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go-version: [1.21]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: |
          cd server
          go mod tidy
          go build -o ../oneclickvirt-${{ runner.os }} main.go

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: oneclickvirt-${{ matrix.os }}
          path: oneclickvirt-${{ runner.os }}
